@import '_var.scss';

body{
    overflow-x: hidden;
    font-family: $fontFamily2;
}

#header_site{
    width: 100%;
    position: fixed;
    padding: 24px 0px;
    top: 0;
    .logo_site{
        img{
            height: 48px;
            width: auto;
        }
    }
    .menu_site{
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        column-gap: 75px;
        padding-left: 60px;
        margin-bottom: 0;
        li{
            a{
                text-transform: uppercase;
                text-decoration: none;
                font-size: 16px;
                display: block;
                padding: 8px 12px;
                font-weight: 500;
            }
        }
    }
    .language-switcher{
        #language-select{
            background: none;
            color: $colorbrown;
            border-color: transparent;
        }
        &:focus{
            outline: none;
        }
        &:checked{
            background-color: #f0e4d8;
            color: #333;
        }
    }
}

#banner{
    height: 100vh;
    background: url('../images/background.png');
    background-size: cover;
    background-position: center top;
        .banner_info {
            position: absolute;
            left: 50%;
            top: 70%;
            transform: translate(-50%, -50%);
            width: 70%;
    
            .cl-gradient {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 100%;
    
                    .col-lg-2 {
                        text-transform: uppercase;
                        font-size: 40px;
                        line-height: 51.2px;
                        padding: 0;
                    }
        
                    .col-lg-auto {
                        text-transform: uppercase;
                        display: flex;
                        font-size: 72px;
                        line-height: 92.16px;
                        padding: 0;
                    }
                }
        
                .sub_title {
                    text-transform: uppercase;
                    margin-top: 50px;
                    font-size: 14px;
                    line-height: 24px;
        
                    p {
                        padding: 0 80px;
                    }
        
                    ;
                }
            }
        }

#overview_site{
    height: 100vh;
    background: #20452A;
    top: 0;
    img{
        width: 100%;
        height: auto;
    }
    .content_overview{
        position: relative;
        padding:0 210px;
        .slider{
            overflow: hidden;
            position: relative;
            .slide{
                float: left;
                width: 100%;
                position: relative;
                .view{
                    text-transform: uppercase;
                    color: #CFAE89;
                    font-size: 24px;
                    line-height: 30.72px;
                }
                .title{
                    padding-top: 36px 0;
                    font-size: 56px;
                    line-height: 71.68px;
                    color: #C6B59E;
                }
                .detail_overview{
                    margin-top: 40px;
                    font-size: 16px;
                    line-height: 24px;
                    color: #CFAE89;
                }
            }
        }
        .slider-pages{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
        }
    }
}
#detail{
    height: 50vh;
    background: #20452A;
    font-family: $fontFamily1;
    color: #C6B59E;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    .big_infor{
        font-size: 64px;
        line-height: 106.24px;
    }
    .small_infor{
        text-transform: uppercase;
        font-size: 16px;
        line-height: 24px;
    }
}


