@font-face {
  font-family: "Gotu";
  src: url("../fonts/font-web/Gotu-Regular.eot");
  src: url("../fonts/font-web/Gotu-Regular.woff2") format("woff2"), url("../fonts/font-web/Gotu-Regular.woff") format("woff"), url("../fonts/font-web/Gotu-Regular.ttf") format("truetype"), url("../fonts/font-web/Gotu-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/font-web/Lora-Medium.eot");
  src: url("../fonts/font-web/Lora-Medium.woff2") format("woff2"), url("../fonts/font-web/Lora-Medium.woff") format("woff"), url("../fonts/font-web/Lora-Medium.ttf") format("truetype"), url("../fonts/font-web/Lora-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/font-web/Lora-Regular.eot");
  src: url("../fonts/font-web/Lora-Regular.woff2") format("woff2"), url("../fonts/font-web/Lora-Regular.woff") format("woff"), url("../fonts/font-web/Lora-Regular.ttf") format("truetype"), url("../fonts/font-web/Lora-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.cl-gradient {
  background: linear-gradient(180deg, #F0E4D8 0%, #BDB3AA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

body {
  overflow-x: hidden;
  font-family: "Lora", Arial;
}
@media (min-width: 320px) and (max-width: 786px) {
  body {
    overflow-x: hidden;
    width: 100%;
  }
}

.menu_site_mobile {
  display: none;
}
@media (min-width: 320px) and (max-width: 768px) {
  .menu_site_mobile {
    display: block;
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 1;
      transform: translate3d(-25%, 0, 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  .menu_site_mobile .hamburger-button {
    position: absolute;
    transition: 0.3s ease-in-out;
    width: 45px;
    height: 34px;
    display: block;
    top: 2rem;
    right: 2rem;
    z-index: 100;
  }
  .menu_site_mobile .hamburger-button span {
    position: absolute;
    height: 5px;
    border-radius: 4px;
    width: 90%;
    background-color: #000;
    top: 1px;
    right: 1px;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }
  .menu_site_mobile .hamburger-button span:nth-child(1) {
    top: 0px;
  }
  .menu_site_mobile .hamburger-button span:nth-child(2) {
    top: 13px;
  }
  .menu_site_mobile .hamburger-button span:nth-child(3) {
    top: 13px;
  }
  .menu_site_mobile .hamburger-button span:nth-child(4) {
    top: 26px;
  }
  .menu_site_mobile .hamburger-button.active span {
    background-color: #FFF;
  }
  .menu_site_mobile .hamburger-button.active span:nth-child(1) {
    opacity: 0;
  }
  .menu_site_mobile .hamburger-button.active span:nth-child(4) {
    opacity: 0;
  }
  .menu_site_mobile .hamburger-button.active span:nth-child(2) {
    transform: rotate(45deg);
  }
  .menu_site_mobile .hamburger-button.active span:nth-child(3) {
    transform: rotate(-45deg);
  }
  .menu_site_mobile .overlay {
    position: fixed;
    background: #20452A;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 1s, height 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu_site_mobile nav {
    font-size: 1rem;
    font-family: "Lora", Arial;
    text-align: center;
  }
  .menu_site_mobile nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .menu_site_mobile nav ul li {
    opacity: 1;
    margin: 1rem 0;
  }
  .menu_site_mobile nav ul li a {
    color: #FFF;
    text-decoration: none;
    transition: opacity 0.2s ease;
    opacity: 0.75;
  }
  .menu_site_mobile nav ul li a:hover {
    opacity: 1;
  }
  .menu_site_mobile .overlay.visible {
    z-index: 1;
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  .menu_site_mobile .overlay.visible li {
    animation: fadeInLeft 0.3s ease forwards;
  }
  .menu_site_mobile .overlay.visible li:nth-of-type(1) {
    animation-delay: 0.23s;
  }
  .menu_site_mobile .overlay.visible li:nth-of-type(2) {
    animation-delay: 0.26s;
  }
  .menu_site_mobile .overlay.visible li:nth-of-type(3) {
    animation-delay: 0.29s;
  }
  .menu_site_mobile .overlay.visible li:nth-of-type(4) {
    animation-delay: 0.32s;
  }
  .menu_site_mobile .overlay.visible li:nth-of-type(5) {
    animation-delay: 0.35s;
  }
}

#header_site {
  width: 100%;
  position: absolute;
  padding: 24px 0px;
  top: 0;
}
#header_site .logo_site img {
  height: 48px;
  width: auto;
}
#header_site .menu_site {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  -moz-column-gap: 75px;
       column-gap: 75px;
  padding-left: 60px;
  margin-bottom: 0;
}
#header_site .menu_site li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 8px 12px;
  font-weight: 500;
}
#header_site .language-switcher #language-select {
  background: none;
  color: #CFAE89;
  border-color: transparent;
}
#header_site .language-switcher:focus {
  outline: none;
}
#header_site .language-switcher:checked {
  background-color: #f0e4d8;
  color: #333;
}
@media (min-width: 320px) and (max-width: 786px) {
  #header_site {
    display: none;
  }
  #header_site .logo_site img {
    height: 30px;
    width: auto;
  }
  #header_site .menu_site {
    display: none;
  }
  #header_site .language-switcher {
    display: none;
  }
}

#banner {
  height: 100vh;
  background: url("../images/background.png");
  background-size: cover;
  background-position: center top;
}
#banner .banner_info {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  width: 70%;
}
#banner .banner_info .cl-gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
#banner .banner_info .cl-gradient .col-lg-2 {
  text-transform: uppercase;
  font-size: 40px;
  line-height: 51.2px;
  padding: 0;
}
#banner .banner_info .cl-gradient .col-lg-auto {
  text-transform: uppercase;
  font-size: 72px;
  line-height: 92.16px;
  padding: 0;
}
#banner .banner_info .sub_title {
  text-transform: uppercase;
  margin-top: 50px;
  font-size: 14px;
  line-height: 24px;
}
#banner .banner_info .sub_title p {
  padding: 0 80px;
}
@media (min-width: 320px) and (max-width: 786px) {
  #banner .banner_info {
    top: 57%;
  }
  #banner .banner_info .cl-gradient .col-lg-2 {
    font-size: 20px;
  }
  #banner .banner_info .cl-gradient .col-lg-auto {
    font-size: 40px;
    line-height: 45px;
  }
  #banner .banner_info .sub_title p {
    padding: 10px;
  }
}

#overview {
  background: #20452A;
  padding-bottom: 1rem;
}
#overview .overview_block .overview_content .slider-control .btn-control {
  cursor: pointer;
}
#overview .overview_param {
  border-top: 1px solid #CFAE89;
  border-bottom: 1px solid #CFAE89;
}
#overview .overview_param .param-item {
  padding: 9rem 0;
}
@media (max-width: 767px) {
  #overview .overview_param .param-item {
    padding: 3rem 0;
    position: relative;
  }
}
#overview .overview_param .param-item .wrap-ele {
  position: relative;
}
#overview .overview_param .param-item .wrap-ele .page-item-info {
  position: absolute;
  right: -20px;
}
@media (max-width: 767px) {
  #overview .overview_param .param-item .wrap-ele .page-item-info {
    right: 0;
  }
}
#overview .overview_param .row div:not(:last-child) .param-item {
  position: relative;
}
@media (max-width: 767px) {
  #overview .overview_param .row div:not(:last-child) .param-item::before {
    display: none;
  }
  #overview .overview_param .row div:not(:last-child) .param-item::after {
    display: none;
  }
}
#overview .overview_param .row div:not(:last-child) .param-item::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 1px;
  height: 50px;
  background-color: #CFAE89;
}
#overview .overview_param .row div:not(:last-child) .param-item::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 1px;
  height: 50px;
  background-color: #CFAE89;
}

#detail {
  position: relative;
  height: 60vh;
  background: #20452A;
  font-family: "Gotu", Arial;
  color: #C6B59E;
  text-align: center;
  align-items: center;
  padding-top: 100px;
}
#detail::before {
  position: absolute;
  content: "";
  background: white;
  height: 1px;
  bottom: 95%;
  width: 100vw;
  right: -0.75rem;
}
#detail::after {
  position: absolute;
  content: "";
  background: white;
  height: 1px;
  bottom: 15%;
  width: 100vw;
  right: -0.75rem;
}
#detail .big_infor {
  position: relative;
  font-size: 64px;
  line-height: 106.24px;
  flex-wrap: wrap;
}
#detail .line::before {
  position: absolute;
  content: "";
  background: white;
  height: 2vw;
  bottom: 154%;
  width: 1px;
  right: 0.1rem;
}
#detail .line::after {
  position: absolute;
  content: "";
  background: white;
  height: 2vw;
  top: 155%;
  width: 1px;
  right: 0.1rem;
}
#detail .small_infor {
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 320px) and (max-width: 768px) {
  #detail {
    padding-top: 30px;
  }
  #detail::before {
    display: none;
  }
  #detail::after {
    display: none;
  }
  #detail .big_infor {
    font-size: 30px;
    line-height: 50px;
  }
  #detail .line::before {
    display: none;
  }
  #detail .line::after {
    display: none;
  }
  #detail .small_infor {
    font-size: 10px;
    line-height: 10px;
  }
}

#partner_site {
  background: url("../images/background_partner.png");
  background-size: cover;
  height: 50vh;
  position: relative;
}
#partner_site .title {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 50%;
}
#partner_site .title h2 {
  font-size: 16px;
  line-height: 24px;
  font-family: "Gotu", Arial;
  text-transform: uppercase;
  padding: 10px 50px;
}
#partner_site .title h2::before {
  position: absolute;
  content: "";
  background: #000;
  height: 1px;
  bottom: 0%;
  width: 20vw;
  left: 12rem;
}
#partner_site .partner {
  position: absolute;
  bottom: 50px;
  left: 10%;
}
@media (min-width: 320px) and (max-width: 768px) {
  #partner_site .title {
    top: 40%;
  }
  #partner_site .title h2 {
    padding: 0;
  }
  #partner_site .title h2::before {
    display: none;
  }
  #partner_site .partner {
    left: 0;
  }
}

#picture_site {
  height: 100vh;
  background-color: #000;
}
#picture_site .col-lg-6 {
  padding: 0;
}
#picture_site .col-lg-6 .picture .col-6 {
  padding: 0;
  position: relative;
}
#picture_site .col-lg-6 .picture .col-6 .pic {
  display: block;
}
#picture_site .col-lg-6 .picture .col-6 .pic .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}
#picture_site .col-lg-6 .picture .col-6 .pic .overlay:hover {
  opacity: 1;
}
#picture_site .col-lg-6 .picture .col-6 .pic .overlay img {
  max-width: 50%;
  max-height: 50%;
}
#picture_site .col-lg-6 .picture .col-6 .pic .overlay .info {
  text-transform: uppercase;
  color: #C6B59E;
  font-family: "Lora", Arial;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-top: 20px;
}
#picture_site .col-lg-6 .picture .col-12 {
  padding: 0;
}
#picture_site .col-lg-6 .picture .col-12 .pic {
  position: relative;
  display: inline-block;
}
#picture_site .col-lg-6 .picture .col-12 .pic .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
}
#picture_site .col-lg-6 .picture .col-12 .pic .overlay:hover {
  opacity: 1;
}
#picture_site .col-lg-6 .picture .col-12 .pic .overlay img {
  max-width: 50%;
  max-height: 50%;
}
#picture_site .col-lg-6 .picture .col-12 .pic .overlay .info {
  text-transform: uppercase;
  color: #C6B59E;
  font-family: "Lora", Arial;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-top: 20px;
}

#location_site {
  height: 115vh;
  background: #20452A;
}
#location_site .image-container {
  position: relative;
  width: 500px;
  height: 500px;
}
#location_site .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
#location_site .button-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
#location_site .button-container button {
  margin: 0 10px;
  padding: 5px 10px;
}

#amenities {
  height: 100vh;
  background: url("../images/background_partner.png");
  background-size: cover;
}

#standard_site {
  height: 150vh;
  background: url("../images/image5.png");
  background-size: cover;
  background-position: center center;
  position: relative;
  font-family: "Lora", Arial;
  color: #C6B59E;
}
#standard_site img {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
}
#standard_site .infor {
  position: absolute;
  top: 20%;
  text-transform: uppercase;
  text-align: center;
}
#standard_site .infor .title {
  font-size: 24px;
  line-height: 31px;
}
#standard_site .infor .main {
  font-size: 56px;
  line-height: 72px;
  top: 30%;
}
#standard_site .detail {
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  top: 45%;
}
@media (min-width: 320px) and (max-width: 768px) {
  #standard_site {
    height: 210vh;
  }
  #standard_site img {
    top: 5%;
  }
  #standard_site .infor {
    top: 8%;
  }
  #standard_site .infor .title {
    font-size: 10px;
    line-height: 20px;
  }
  #standard_site .infor .main {
    font-size: 30px;
    line-height: 40px;
    top: 25%;
  }
  #standard_site .detail {
    top: 22%;
  }
}

#floor_plan_site {
  height: 100vh;
  background: url("../images/background_partner.png");
  font-family: "Lora", Arial;
  text-transform: uppercase;
  color: #5C432E;
  position: relative;
}
#floor_plan_site .text .floor_plan {
  font-size: 24px;
  line-height: 30.72px;
  padding-top: 50px;
}
#floor_plan_site .text .main_title {
  font-size: 56px;
  line-height: 71.68px;
  color: #20452A;
  padding: 36px 0;
}
#floor_plan_site .text .paragrahp {
  font-size: 16px;
  line-height: 24px;
}
#floor_plan_site .picture_floor figure img {
  width: 95%;
}
@media (min-width: 320px) and (max-width: 768px) {
  #floor_plan_site .text {
    text-align: center;
  }
  #floor_plan_site .text .floor_plan {
    font-size: 20px;
    line-height: 25px;
    padding-top: 20px;
  }
  #floor_plan_site .text .main_title {
    font-size: 35px;
    line-height: 45px;
    color: #20452A;
    padding: 20px 0;
  }
  #floor_plan_site .text .paragrahp {
    font-size: 14px;
    line-height: 17px;
  }
  #floor_plan_site .picture_floor figure img {
    width: 95%;
  }
}

#testimonial_site {
  height: 150vh;
  background: url("../images/image5.png");
  background-size: cover;
  background-position: center center;
}
#testimonial_site .content {
  padding-top: 10px;
  position: relative;
}
#testimonial_site .content .title {
  color: #C6B59E;
  font-size: 24px;
  line-height: 36px;
}
#testimonial_site .content .sub_title {
  padding-top: 25px;
  color: #CFAE89;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  padding-left: 10px;
}
#testimonial_site .content .sub_title::before {
  position: absolute;
  content: "";
  background: white;
  height: 7vw;
  top: 25%;
  width: 1px;
  right: 22.25rem;
}
#testimonial_site .second {
  padding-top: 90px;
}
#testimonial_site .content2 {
  padding-top: 10px;
  text-align: end;
}
#testimonial_site .content2 .title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 31px;
  color: #A98A69;
}
#testimonial_site .content2 .sub_title {
  padding-top: 36px;
  font-size: 56px;
  line-height: 72px;
  color: #C6B59E;
}
@media (min-width: 320px) and (max-width: 768px) {
  #testimonial_site {
    height: 120vh;
  }
  #testimonial_site .second {
    padding: 0;
  }
  #testimonial_site .content .title {
    font-size: 18px;
    line-height: 20px;
  }
  #testimonial_site .content .sub_title {
    font-size: 12px;
    line-height: 15px;
    padding-top: 10px;
  }
  #testimonial_site .content2 {
    text-align: center;
    padding-top: 40px;
  }
  #testimonial_site .content2 .title {
    font-size: 20px;
    line-height: 22px;
  }
  #testimonial_site .content2 .sub_title {
    padding-top: 10px;
    font-size: 40px;
    line-height: 50px;
  }
}

#form_site {
  height: 80vh;
  background: #20452A;
}/*# sourceMappingURL=main.css.map */